/* CUSTOM BREAKPOINTS */
:root {
  --color-primary: #F6F6F6;
  --color-primary-dark: #484848;
  --color-orange-light: #FFA100;
  --color-orange-dark: #CE8C1B;
  --color-grey:#6B6B6B;
  --shadow-dark: 0 2.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-light: 0 3px 4rem rgba(0, 0, 0, .16);
  --secondary-font: 'Titillium Web', sans-serif; }

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*   IMAGE SHRINKAGE  */ }
  @media (min-width: 112.5em) {
    html {
      font-size: 72.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 57.5%; } }

a,
a:link,
a:visited {
  text-decoration: none;
  color: #F6F6F6; }
  a:hover,
  a:link:hover,
  a:visited:hover {
    color: #d0d0d0;
    text-decoration: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background: #F6F6F6;
  -webkit-font-smoothing: antialiased; }

/* FONTS */
h1 {
  font-size: 7rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    h1 {
      font-size: 5.5rem; } }

h2 {
  font-size: 4.5rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    h2 {
      font-size: 3.5rem; } }

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #F6F6F6; }

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: #F6F6F6;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    h3 {
      font-size: 2.8rem;
      line-height: 1.5; } }

h4 {
  font-size: 2.2rem;
  color: #484848;
  font-family: "Titillium Web", sans-serif; }

h5 {
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
  color: #F6F6F6; }

h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  color: #F6F6F6; }

/* HELPER CLASSES */
.pverymost {
  padding-top: 15rem; }

.pmost {
  padding-top: 9rem; }

.pmore {
  padding-top: 7rem; }

.p3 {
  padding-top: 3rem; }

.pleast {
  padding-top: 2rem; }

.mlr {
  margin: 0 10rem; }

.p-wrap {
  padding-left: 3rem;
  padding-right: 3rem; }

/* WILL VARY */
.falign {
  margin-right: 3rem; }

.skewfix {
  margin-top: -14vh; }
  @media (min-width: 112.5em) {
    .skewfix {
      margin-top: -17vh; } }

::selection {
  background: #1b5187;
  color: #fff; }

.container {
  max-width: 120rem; }

/* CTA SECTION  */
.cta {
  height: 108vh;
  background-image: linear-gradient(to right top, rgba(72, 72, 72, 0.4), rgba(14, 14, 14, 0.4)), url(../img/cta-img.jpg);
  background-position: center;
  background-size: cover;
  z-index: 40000; }
  @media (min-width: 112.5em) {
    .cta {
      height: 115vh; } }
  .cta__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (min-width: 112.5em) {
      .cta__text-box {
        top: 45%; } }

/* OPTIONS SECTION */
.options {
  padding: 10rem 0 22rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .options {
      padding: 4rem 0 15rem; } }

.cards {
  display: block;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .cards {
      margin-bottom: 4rem; } }
  .cards img {
    height: auto;
    width: 100%; }
  .cards__content {
    padding: 3rem 1rem; }
    .cards__content p {
      font-size: 1.4rem;
      max-width: 25.8rem;
      margin: auto;
      line-height: 2.5rem;
      /*   IMAGE SHRINKAGE  */ }
      @media (max-width: 62em) {
        .cards__content p {
          max-width: 70%; } }
    .cards__content h4 {
      padding-bottom: 1.5rem; }

/* SKEWED CONTENT SECTIONS */
.skewed-content {
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 2; }
  .skewed-content h3 {
    text-align: center; }
  .skewed-content p {
    color: #F6F6F6;
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: center;
    max-width: 96.2rem; }
  .skewed-content--1 {
    padding: 20vh 1rem;
    background-image: linear-gradient(to right top, #3b3b3b, rgba(39, 39, 39, 0.75)), url("../img/skewed-img1.jpg");
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    /*   IMAGE SHRINKAGE  */
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .skewed-content--1 {
        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); } }
    @media (max-width: 37.5em) {
      .skewed-content--1 {
        /* 600 / 16 */
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); } }
  .skewed-content--2 {
    padding: 15.1vh 1rem;
    background-image: linear-gradient(to right top, #3b3b3b, rgba(39, 39, 39, 0.75)), url("../img/skewed-img2.jpg");
    clip-path: polygon(0 80%, 0 0, 100% 20%, 100% 100%);
    /*   IMAGE SHRINKAGE  */
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .skewed-content--2 {
        clip-path: polygon(0 90%, 0% 0%, 100% 10%, 100% 100%); } }
    @media (max-width: 37.5em) {
      .skewed-content--2 {
        /* 600 / 16 */
        clip-path: polygon(0 100%, 0% 0%, 100% 0, 100% 100%); } }

/* NEIGHBORHOOD SECTION  */
.neighborhood {
  padding: 17rem 0 10rem;
  position: relative;
  z-index: 0; }
  .neighborhood::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    clip-path: polygon(0 100%, 0 0, 100% 0%, 100% 100%);
    background-image: url("../img/shapely-img.jpg");
    background-size: cover;
    background-position: left;
    -webkit-filter: sepia(1);
    filter: sepia(1);
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 37.5em) {
      .neighborhood::after {
        /* 600 / 16 */
        width: 100%;
        opacity: .1; } }
  .neighborhood h3 {
    color: #484848;
    position: relative; }
  .neighborhood ul {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    font-size: 1.8rem;
    font-family: "Titillium Web", sans-serif;
    list-style: none;
    margin-top: 4rem;
    margin-left: 4rem;
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .neighborhood ul {
        margin-left: 5.5rem; } }
  .neighborhood li:not(:last-child) {
    margin-bottom: 1.5rem; }
  .neighborhood li {
    position: relative; }
    .neighborhood li:before {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 12px;
      width: 8px;
      height: 3px;
      background-color: #FFA100; }

.col-height.amen-img {
  background-image: url("../img/neighborhood-img.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.4);
  clip-path: polygon(0 100%, 0 0, 100% 20%, 100% 100%); }

/* FOOTER -------------------------------------------------- */
.location {
  background-color: #484848;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid #6B6B6B; }
  .location h3 {
    font-size: 2.8rem; }

footer {
  background-color: #484848;
  padding: 5rem 0 0; }
  footer ul {
    font-size: 1.3rem;
    list-style: none;
    color: #F6F6F6;
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 407px) {
      footer ul {
        flex: 0 0 100%; } }
    @media (max-width: 48em) {
      footer ul:nth-child(1), footer ul:nth-child(2), footer ul:nth-child(3), footer ul:nth-child(4) {
        display: none; } }
    @media (max-width: 407px) {
      footer ul {
        flex: 0 0 100%; } }
  footer li:first-child {
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem; }
  footer li:not(:last-child) {
    margin-bottom: 1.2rem; }
  footer li:last-child {
    padding-bottom: 4rem; }
  @media (max-width: 407px) {
    footer {
      text-align: left; } }

.branding {
  border-top: 1px solid #6B6B6B;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 37.5em) {
    .branding {
      /* 600 / 16 */ } }
  .branding .social-medias {
    display: inline-block; }
    .branding .social-medias a:not(:last-child) {
      padding-right: 1.5rem; }
    .branding .social-medias img {
      max-width: auto;
      height: 2.5rem; }
  .branding p {
    /* RIGHT SPOT, WHO KNOWS! */
    font-size: 1rem;
    color: #b6b6b6;
    padding-top: 3rem; }
  .branding svg {
    opacity: .7;
    margin-right: 1rem; }

.logo {
  width: 13.5%; }

.eqicon {
  opacity: 0.5;
  height: 3rem;
  margin-right: 1rem; }

.legal-jargon {
  padding: 1.25rem 3rem 1.25rem;
  background-color: #373737;
  color: #F6F6F6; }
  .legal-jargon a {
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-right: 3px; }
  .legal-jargon img {
    width: 3.7rem;
    height: 3.7rem;
    opacity: .7; }

/*NAVIGATION */
.custom-toggler.navbar-toggler {
  border-color: #bbbbbb; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(187, 187, 187, 07)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-brand {
  width: 15rem;
  height: 4rem; }

.navbar-nav {
  padding: 3rem 0;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .navbar-nav {
      background-color: rgba(0, 0, 0, 0.6);
      margin-top: .5rem;
      align-items: flex-start; } }

.nav-link {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 62em) {
    .nav-link {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.navbar a {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #F6F6F6;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  transition: transform .3s ease-in-out; }
  .navbar a:hover {
    transform: scale(1.1);
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 62em) {
      .navbar a:hover {
        transform: scale(1); } }

.navbar-collapse {
  z-index: 7000; }

/* BUTTON INLINE  */
.btn {
  border: none;
  color: #F6F6F6;
  font-style: "Titillium Web", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: 2px solid #FFA100;
  display: inline-block;
  cursor: pointer;
  transition: padding .3s ease-out;
  padding-left: .3rem;
  padding-right: .3rem;
  /*   IMAGE SHRINKAGE  */ }
  @media (max-width: 56.25em) {
    .btn {
      padding: 3rem 0 0 0; } }
  .btn:hover {
    padding-right: 3rem;
    padding-left: 3rem; }
  .btn--retainp {
    align-self: center;
    margin-right: 15rem;
    /*   IMAGE SHRINKAGE  */ }
    @media (max-width: 56.25em) {
      .btn--retainp {
        padding: 10rem 0 0 0; } }
  .btn--tourbox {
    position: absolute;
    top: 150%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #FFA100;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: border .3s ease-in, padding .3s ease-out; }
    .btn--tourbox:hover {
      border-left: 2px solid #FFA100;
      border-right: 2px solid #FFA100;
      border-top: 2px solid #FFA100;
      border-bottom: 2px solid #FFA100;
      background-color: rgba(0, 0, 0, 0.4);
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 5rem;
      padding-left: 5rem; }
  .btn--cards {
    color: #484848; }
    .btn--cards:hover {
      color: #6B6B6B; }
