
:root {
    --color-primary: #F6F6F6;
    --color-primary-dark: #484848;
    --color-orange-light: #FFA100;
    --color-orange-dark: #CE8C1B;
    --color-grey-light-3: #f0eeee;

    --shadow-dark: 0 2.5rem 4rem rgba(0, 0, 0, .4);
    --shadow-light: 0 3px 4rem rgba(0, 0, 0, .16);
    --line: 1px solid var(--color-grey-light-2);
    --secondary-font:'Titillium Web', sans-serif;
}

$bp-largest: 75em;
/* 1200 */

$bp-large: 68.75em;
/* 1100 */

$bp-medium: 56.25em;
/* 900px */

$bp-small: 37.5rem;
/* 600px */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px / 16px = 62.5%

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background: var(--color-primary);
}

/* FONTS */
h1 {
    font-size: 7rem;  
}

h2 {
    font-size: 5.5rem;  
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: var(--color-primary);
}

h3 {
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-primary); 
}


/* HELPER CLASSES */
.p9 {
    padding-top: 9rem;
}

.p2 {
    padding-top: 2rem;
}




