///////////////////////////////
/* LOGO */

.logo {
    height: 3.25rem;
    margin-left: 3rem;
}


/////////////////////////////////////
/* SIDE NAVIGATION */



///////////////////////////////////////
/* LEGAL TEXT */



///////////////////////////////////////
/* GALLERY */



/////////////////////////////////////////////
/* BUTTON INLINE  */

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    & span {
        margin-left: 3px;
    }
    &:hover {
        color: var(--color-grey-dark-1);
        span {
            margin-left: 8px;
            transition: all .2s;
        }
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

///////////////////////////////////////////////////////////
/* PARAGRAPH */

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

//////////////////////////////////////////
/* LIST */

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }
    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem; //older browsers
        /*       background-image: url(../img/chevron-thin-right.svg);
        background-size: cover; */
        /* Newer browsers - masks */
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }
}

////////////////////////////////////
//RECOMMEND 



/////////////////////////////////////////////////
/* REVIEWS */


.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &>* {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }
    /* HIDES DAT SECOND BUTTON */
    &__visible {
        padding: 2rem 7.5rem;
    }
    &__invisible {
        display: inline-block;
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%;
    }
    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }
    &:hover &__visible {
        transform: translateY(100%);
    }
    &:hover &__invisible {
        top: 0;
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}