/////////////////////////////////////



/*NAVIGATION */

.nav-link {
    padding: 1rem 2rem !important;
}

.navbar a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-family: var(--secondary-font);
    font-weight: 400;
    transition: all .5s;
    &:hover {
        transform: scale(1.1);   
    }
}


/////////////////////////////////////////////
/* BUTTON INLINE  */

.btn {
    border: none;
    color: var(--color-primary);
    font-style: var(--secondary-font);
    font-size: 1.4rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-orange-light);
    display: inline-block;
    cursor: pointer;
    transition: all .6s;
    padding-left: .3rem;
    padding-right: .3rem;

    &:hover {
        transform: translateY(-1.3rem) scale(1.1);
    }

    

    &--cards {
        color: var(--color-primary-dark);

        &:hover {
            color: var(--color-orange-dark);
        }
    }
}
